[submodule "slam_gmapping"]
	path = slam_gmapping
	url = https://github.com/rg-28/slam_gmapping.git
[submodule "openslam_gmapping"]
	path = openslam_gmapping
	url = https://github.com/rg-28/openslam_gmapping.git
